<html>
  <head>
    <title>random normal</title>
  </head>
  <body>
    <h2>This is random normal image</h2>
    <h3>this is h3 </h3>
    <p>Graph1</p>
    <div class="row">
      <div class="column">
        <img src="{{url_for('static', filename='img1.png')}}" alt="image1"
        width={{width}}, height={{hieght}}>
      </div>
      <div class="column">     
	<img src="{{url_for('static', filename='img2.png')}}" alt="image2"
        width={{width}}, height={{hieght}}>
      </div>
      <div class="column">
	<img src="{{url_for('static', filename='img3.png')}}" alt="image3"
        width={{width}}, height={{hieght}}>
      </div>
    </div>



  </body>
</html>
